node_modules/

quarto-cheatsheet_files/
quarto-cheatsheet-fixed_files/
quarto-cheatsheet-mermaid-scaled_files/


quarto-cheatsheet-fixed.docx
quarto-cheatsheet-fixed.html
quarto-cheatsheet-fixed.pdf
quarto-cheatsheet-mermaid-scaled.docx
quarto-cheatsheet-mermaid-scaled.html
quarto-cheatsheet-mermaid-scaled.pdf
quarto-cheatsheet.docx
quarto-cheatsheet.html
quarto-cheatsheet.pdf
build/ai-native-software-engineering.pdf
